a.active {
  font-weight: bold;
  
}
a:not(.active) {
  font-weight: normal;
}

/*div with a class name of tab-pane AND active!*/
div.tab-pane.active{
  opacity: 1;
/*  transition: opacity 2s;*/
  display: block;
}

div.tab-pane.transitioning {
  display: block;
  opacity: 0;
  
}

div#content-tabs{
  position: relative;
}

div.tab-pane{
  position: absolute;
  top: 0;
  display: none;
  transition: opacity 2s;
}